<h1>Restaurants</h1>
<h2>New</h2>

<%= simple_form_for(@restaurant) do |f| %>
  <%= f.input :name %>
  <%= f.input :address %>
  <%= f.input :phone_number %>
  <%= f.input :category, collection: ["chinese", "italian", "japanese", "french", "belgian"] %>
<div>
    <%= f.button :submit, "Add restaurant", class: "btn btn-primary mt-2" %>
  <% end %>

  <%= link_to root_path,  class: "btn btn-dark mt-2" do %>
    <i class="fas fa-undo-alt"> Back to list</i>
  <% end %>
</div>
